*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

.germany{
  --gradient-color-1: #000000;
  --gradient-color-2: #dd0000;
  --gradient-color-3: #FFCC00;
  /* --gradient-color-4: #dd0000;
  --gradient-color-5: #FFCC00; */
}

.spain{
  --gradient-color-1: #AA151B;
  --gradient-color-2: #F1BF00;
  /* --gradient-color-3: #AA151B; */
}

.england{
  --gradient-color-1: #012169;
  --gradient-color-2: #ffffff;
  --gradient-color-3: #C8102E;
}

.canvasBg{
  --gradient-color-1: #012169;
  --gradient-color-2: #ffffff;
  --gradient-color-3: #C8102E;
}

body{
  background-color: #dddddd;
  /* min-width: 100vw;
  min-height: 100vh; */
}